<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets
  <servlet>
    <servlet-name>ServletName</servlet-name>
    <servlet-class>de.hdm.ITProjekt.WorkTime.server.JavaServerKlassenName</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ServletName</servlet-name>
    <url-pattern>/worktime/JavaServiceKlassenPfad</url-pattern>
  </servlet-mapping> -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>WorkTime.html</welcome-file>
  </welcome-file-list>

</web-app>
